includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        -
            message: '#Call to an undefined static method.*#'
        -
            message: '#Call to an undefined method.*#'
        -
            message: '#Call to protected method.*#'