includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Call to an undefined static method .*Model::(where|whereIn|whereNotNull|create|count|first|find|forUsername|valid|expired|revoked).*#'
        -
            message: '#Call to an undefined method .*Endpoint::(getLocations|getServices|getAll).*#'
        -
            message: '#Call to protected method getAll.*#'